body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-group.md-form.form-sm.form-1 input {
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

#basic-text1 {
    color:blue
}

.left {
    float: left;
    width: 300px;
  }



  .summary-container {
    background-color: #f9f9f9; /* Light gray background */
    border: 1px solid #e0e0e0; /* Border around the container */
    padding: 20px; /* Padding inside the container */
    margin: 20px 0; /* Margin outside the container */
    border-radius: 10px; /* Rounded corners */
    line-height: 1.5; /* Space between lines of text */
    font-size: 16px; /* Font size */
    color: #333; /* Text color */
    overflow-wrap: break-word; /* Break long words */
}

